<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY WEB</title>
  <link rel="stylesheet" href="app.component.css">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<header>
   <h2 >MY WEB</h2>
  <nav>
    <a routerLink="home" >Home</a>&nbsp;&nbsp;
    <a routerLink="about">About</a>&nbsp;&nbsp;
    <a routerLink="gallery">Gallery</a>&nbsp;&nbsp;
    <a routerLink="contact"> Contact</a>&nbsp;&nbsp;
  </nav>
</header>

  
<div>
  <router-outlet></router-outlet>
</div>
</html>