<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="css/text" href="about.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Lily+Script+One&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<h2>About</h2>



<div> 
    <p>
    <img class="images" width="20%" src="../../../assets/image/girl.jpg"  alt="girl"/>
   
</p>
<h3>Hi I am Annu Mathew</h3>
<p class="p1">

    Software is a program or set of programs containing instructions that provide desired functionality. And Engineering is the process of designing and building something that serves a particular purpose and finds a cost-effective solution to problems.

Software Engineering is a systematic, disciplined, quantifiable study and approach to the design, development, operation, and maintenance of a software system.
</p>
<h3>Hobbies</h3>
<ul style="list-style-type:square;">
    <li>Dancing</li>
    <li>Reading</li>
    <li>Cooking</li>
</ul>
</div>

</body>
</html>



