<p>math works!</p>
<hr>
<div>

   <label><h1>Math Function</h1></label>
   <table>
       <thead><th>Factorial of number</th></thead>
       <tr><td><h3 >Enter the number :<input type="text" [(ngModel)]="num"></h3></td></tr> 
        <td><h3>Factorial&nbsp;<button type="button" (click)="factorial()" >{{result}}</button></h3></td>
    </table>
</div>
<hr>
<div>
    <h3>Adding inputBox Numbers</h3>
    <p>Num1: <input [(ngModel)]="num1"></p>
    <p>Num2: <input [(ngModel)]="num2"></p>
    <p>The sum is&nbsp;<button type="button" (click)="add()" >{{result2}}</button>
    </p> 
</div>
<hr>
<div>
    <h1>Substraction inputBox Numbers</h1>
    <p>Num1: <input [(ngModel)]="num1"></p>
    <p>Num2: <input [(ngModel)]="num2"></p>
    <p>The difference is&nbsp;<button type="button" (click)="sub()" >{{result3}}</button>
    </p> 
</div>
<hr>
<div>
    <h3>Multiplication inputBox Numbers</h3>
    <p>Num1: <input [(ngModel)]="num1"></p>
    <p>Num2: <input [(ngModel)]="num2"></p>
    <p>The product is&nbsp;<button type="button" (click)="mul()" >{{result4}}</button>
    </p> 
</div>
<hr>
<div>
    <h3>Division inputBox Numbers</h3>
    <p>Num1: <input [(ngModel)]="num1"></p>
    <p>Num2: <input [(ngModel)]="num2"></p>
    <p>The divisor is&nbsp;<button type="button" (click)="div()" >{{result5}}</button>
    </p> 
</div>
<hr>
<div>
    <h3>Modulus inputBox Numbers</h3>
    <p>Num1: <input [(ngModel)]="num1"></p>
    <p>Num2: <input [(ngModel)]="num2"></p>
    <p>The remainter is&nbsp;<button type="button" (click)="mod()" >{{result6}}</button>
    </p> 
</div>
<hr>
<div>
    <h3>oddEven inputBox Numbers</h3>
    <p>Num1: <input [(ngModel)]="num1"></p>
    <p>The number is&nbsp;<button type="button" (click)="oddEven()" >{{result1}}</button>
    </p> 
</div>
<hr>