.menu {  float:left; width: 97%;  height: 60px; background-color: orange;  color:white;font-size:30px ;margin-top:0px; }
.menu ul { overflow: hidden; z-index: 1000; position: absolute; }
.menu li a { display: block;color:white;text-align: center;font-size:22px; font-weight:bold;text-decoration: none;  padding: 10px; }
.menu li  { float: left;list-style: none;width: 90px;  color:white;text-align:center;font-size:22px; font-weight:bold; padding: 10px; }



.menu li a:hover  { background-color:pink; }


.menu li ul li a:hover{
background:pink; 
}