*{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 223);
}
header,section,aside,footer{
    border-color: black;
    border-style: groove;
    margin: 5px;
}
header{
    height: 100px;
    display: flex;/* row wise with no wrap*/
    flex-wrap: nowrap;
    margin: 5px;
    background-color:rgb(201, 221, 238) ;
}
header h1{
    line-height: 100px;
    text-align: center;
}
nav{
    display: flex;
    direction: row;
}
a{
    line-height: 100px;
    text-align: center;
    text-decoration: none;
}
main{
    margin: 5px;
    display: flex;
    flex: auto;
    height: max-content;
}
section{
   
    text-align: center;
    height: fit-content;
}
#as-left{
    width: 25%;
    height: fit-content;
}
#as-right{
    text-align: center;
    width: 25%;
    height: fit-content;
}
footer{
    text-align: center;
    background-color: bisque;
    height: 50%;
    margin: 5px;
}